a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body_bg {
  background-color: #222D32;
}
.panel .panel-heading {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0px;
}
.mg_top {
  margin-top: 100px;
}

/*乐淘侧边栏*/
.lt_aside {
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 666;
  transition: all 1s;
}
.lt_aside.hidemenu {
  left:-180px;
}
.brand {
  height: 50px;
  line-height: 50px;
  background-color: #367FA9;
  text-align: center;

}
.brand a {
  font-size: 26px;
  color: #fff;
}

.lt_aside .user {
  height: 180px;
  padding-top: 30px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;

}
.lt_aside .user p {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.lt_aside .nav a {
  height: 40px;
  display: block;
  color: #fff;
  line-height: 40px;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
.lt_aside .nav a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.lt_aside .nav a i {
  margin-right: 5px;
}

.lt_aside .nav .child a {
  padding-left: 50px;
}


/*主体*/
.lt_main {
  width: 100%;
  height: 1000px;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
  
}
.lt_main.hidemenu {
  padding-left: 0px;
}

 .lt_topbar {
  height: 50px;
  width: 100%;
  padding-left: 180px;
  background-color: #3C8DBC;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s;

}
.lt_topbar.hidemenu {
  padding-left: 0px
}
 .lt_topbar a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.lt_main .breadcrumb {
  margin-top: 20px;
}


.echarts_1,
.echarts_2 {
  width: 48%;
  height: 400px;
}
